:host {
  display: block;
  .landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d5b199;
    min-width: 100vw;
    min-height: 100vh;
  }
}
